<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.translation.sample">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.TranslationActivity">
        <activity android:name="com.translation.sample.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.translation.sample.popmenu.PopupMenuActivity"/>
        <activity android:name="com.translation.sample.expand.ExpandTextViewActivity"/>
        <activity android:name="com.translation.sample.popmenu.PopupActivity"/>
        <activity android:name="com.translation.sample.recycler.RecyclerViewActivity"/>
        <activity android:name="com.translation.sample.auto_wrap_text.AutoWrapTextViewActivity"/>
        <activity android:name="com.translation.sample.animation.RotateActivity"/>
        <activity android:name="com.translation.sample.animation.AlphaRotateActivity"/>
        <activity android:name="com.translation.sample.rebound.DialogAnimationActivity"/>
        <activity android:name="com.translation.sample.rebound.SpringActivity"/>
        <activity android:name=".view_pager.BounceViewPagerActivity"/>
        <activity android:name=".text_stroke.TextViewStrokeActivity"/>
        <activity android:name=".menu.PopMenuActivity"/>
        <activity android:name="com.translation.sample.behavior.FlingBehaviorActivity"/>
        <activity android:name="com.translation.sample.behavior.ViewPagerFlingActivity"/>
    </application>

</manifest>